body {
  font-family: 'Lacquer', sans-serif;
  margin: auto;
  padding: 2vh;
  background-color: #E0E0E0;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: url(../assets/back.jpg);
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.welcome {
  display: flex;
  width: 100%;
  height: 64vh;
}

.welcome h1{
  margin: -2vh 17vh;
  padding: 2.2vh 4vh;
  font-size: 6vh;
  color: white;
  text-align: left;
  align-self: center;
  background-color: black;
  box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.39);
  border-radius: 21px;
}

.menu {
  position: static;
  display: flex;
  background-color: rgba(255, 255, 255, 0.6);
  gap: 4vh;
}

.menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 33vh;
}

.menu-item p{
  position: relative;
  width: 32.2vh;
  padding: 1vh 0.4vh;
  font-size: 3vh;
}

.menu-item:hover {
  animation-name: cor;
  animation-duration: 0.2s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  cursor: pointer;
}

@keyframes cor {
  100% {background-color:#D0E3EC; left:0px; top:0px;}
}

.menu-item:hover p {
  animation-name: subir;
  animation-duration: 0.2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes subir {
  0%   { transform: translateY(0px); background-color: rgba(255, 255, 255, 0.2); }
  100% { transform: translateY(-28.6vh); background-color: rgba(255, 255, 255, 0.6);}
}

.menu-item:hover img {
  animation-name: descer;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes descer {
  0%   { transform: translateY(0); }
  100% { transform: translateY(5vh); }
}

img {
  width: 20vh;
}